<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/completed" method="POST">
        <label for="First Name">First Name:</label><br>
        <input type="text" id="First Name" name="First Name" placeholder="first name"><br>
        <label for="Last Name">Last Name:</label><br>
        <input type="text" id="Last Name" name="Last Name" placeholder="last name"><br>
        <label for="Grade"> Grade </label>
        <input type="text" id="Grade" name="Grade" placeholder="6"> <br>
        <label for="First Choice">1st Choice</label> <br>
        <select id="First Choice" name="First Choice">
        <input type="submit" value="Submit">
    </form>
</body>

</html>