{% extends "template.html" %}

{% block head %} 
    <meta charset="UTF-8"> 
{% endblock %}

    {% block title %} Home {% endblock %}

{% block content %}
    <form action="/completed" method="POST" class="input-form">
        <label for="First Name">First Name:</label><br>
        <input type="text" id="First Name" name="First Name" placeholder="first name"><br>
        <label for="Last Name">Last Name:</label><br>
        <input type="text" id="Last Name" name="Last Name" placeholder="last name"><br>
        <label for="Grade"> Grade </label> <br>
        <input type="text" id="Grade" name="Grade" placeholder="6"> <br>
        {% for ordinal in ordinals %}
            <label for="{{ordinal}} Choice"> {{ordinal}} Choice</label> <br>
            <select id="{{ordinal}} Choice" name="{{ordinal}} Choice" >
                <option value="none" selected disabled hidden>Select an option</option>
                {% for class in classes %}
                    <option value={{class}}> {{class}} </option>
                {% endfor %}
            </select> <br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>

{% endblock %}