{% extends "template.html" %}

{% block head %} 
    <meta charset="UTF-8"> 
{% endblock %}

    {% block title %} Schedule Management {% endblock %}

{% block content %}

    {% if adminStatus %}
    <h1 id="schedule-header">Create a Schedule</h1>
    <form action="/completed" method="POST" class="input-form">
        <label for="First Name">First Name:</label>
        <input type="text" id="First Name" name="First Name" placeholder="First Name" required>
        <label for="Last Name">Last Name:</label>
        <input type="text" id="Last Name" name="Last Name" placeholder="Last Name" required>
        <label for="Grade"> Grade </label> 
        <input type="text" id="Grade" name="Grade" placeholder="Select Grade Level" required> 
        {% for ordinal in ordinals %}
            <label for="{{ordinal}} Choice"> {{ordinal}} Choice</label> 
            <select id="{{ordinal}} Choice" name="{{ordinal}} Choice" required>
                <option value="none" selected disabled hidden>Select a class</option>
                {% for class in classes %}
                    <option value={{class}}> {{class}} </option>
                {% endfor %}
            </select> 
        {% endfor %}
        <input type="submit" value="Submit" id="submit-btn">
    </form>
    {% endif %}

{% endblock %}